@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #151d2f;
}

/* Title */
h1 {
    color: white;
    text-align: center;
    padding: 0.75em;
}

/* Search Container */
button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: hsl(49, 97%, 53%);
    color: #151d2f;
    border-radius: 0.5em;
    font-weight: 500;
}

button:hover {
    background-color: hsl(49, 97%, 53%, 0.90);
}

button:active {
    background-color: hsl(49, 97%, 53%, 0.80);
}

.search-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    width: 100%;
    max-width: 50em;
    margin: 1em auto;
    padding: 0.5em;
}

.search-container input {
    padding: 1em;
    border-radius: 0.5em;
    font-weight: 400;
    outline: none;
}

/* GIF Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    background-color: #2b304d;
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em;
    border-radius: 0.5em;
}

.container img {
    width: 80%;
}

.container button {
    margin-top: 1em;
    padding: 1em;
}

#load-more {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    transition: 0.3s;
}

#load-more:hover {
    background-color: #45a049;
}

.loader {
    display: none;
    height: 15em;
    width: 15em;
    border: 3em solid #2b304d;
    border-radius: 50%;
    border-top-color: hsl(49, 97%, 53%);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: spin 3s infinite;
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        margin: 0.7em;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}